body {
    background-color: rgb(255, 255, 255);
    margin:0;
    padding:0;

}

#board{
    position:relative;
    border: 15px solid black;
    overflow:hidden;
    margin:8rem auto;
    
    height: 600px;
    width: 800px;
    
    

    background-color: rgb(218, 145, 49);
    
}
#player{
    background-color: darkred;
    position:absolute;
}
.obstacle {
    position: absolute;
    background-color:rgb(76, 79, 240);
}